@media(min-width:468px) {
    .container {
        width: 100%;
        margin: auto;
    }
}

body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 100%;
    background-image: url("topPic.jpg");
    background-position: bottom;
    background-size: cover;
}