@media(min-width:468px) {
    .container {
        width: 100%;
        margin: auto;
    }
}

body {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(102, 204, 102);
}

a {
    color: white;
    text-decoration: underline;
}

.container {
   
    margin: auto;
    max-width: 100%;
    height: auto;
}

.navigation {
    width: 95%;
    margin: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-right: 10px;
}

.left {
    font-size: large;
    
}

.container1 {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;

}
.spalshArt {
    justify-content: left;
    align-items: flex-start;
}

.websiteDescription {
    text-align: right;
}

/*.grid {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 4fr;
    grid-gap: 5px;
    grid-auto-rows: minmax(300px, auto);

    justify-items: stretch;
    margin-top: 100px;

}

.sidebar {
    position: fixed;
    grid-column: 1/4;
    grid-row: 1/4;
}

.txtField {
    grid-column: 3/4;
    grid-row: 3/4;
}

img {
    width: 40px;
    height: 40px;
    position: fixed;
    align-items: left;
    border-radius: 50%;
    margin: -23px;
    margin-left: 10px;
    justify-content: space-between;
}

h3 {
    color: cadetblue;
    
}*/
