@media(min-width:390px) {
    body { 
     width: 100%;
     margin: auto;
 }
 }
 
 body {
     margin: 0;
     padding: 0;
     background-color: antiquewhite;
    
 }
 
 
 * {
     box-sizing: border-box;
 }


 
 .navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: rgb(255, 255, 255);
     background-color: rgb(219, 150, 162);
     position: fixed;
    
     width: 100%;
     top: 0;
     
     
 }
 
 .logo {
     margin: .5rem;
     margin-left: 1rem;
 }
 
 .navbar-links {
     display: flex;
     margin: 0;
     padding: 0;
     
 }
 
 .navbar-links li {
     list-style: none;
     padding: 1rem;
     display: block;
    
 }
 
 .navbar-links li a {
     text-decoration: none;
     color: white;
     padding: 1rem;
     display: block;
    
 }
 
 .navbar-links li:hover {
     background-color: pink;
 }
 
 .toggle-button {
     position: absolute;
     top: .75rem;
     right: 1rem;
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 30px;
     height: 21px;
     color: black;
 }
 
 .toggle-button .bar {
     height: 3px;
     width: 100%;
     border-radius: 10px;
     background: white;
     border-color: white;
  
 }


 
 
 .title {
    text-align: center;
 }

 
 
.box1 {
    
    display: flex;
        /*flex-wrap: wrap;*/
        padding: 0;
        margin: 0; 
        max-width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.box2 {
    
    display: flex;
        /*flex-wrap: wrap;*/
        padding: 0;
        margin: 0; 
        max-width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.box3 {
    
    display: flex;
        /*flex-wrap: wrap;*/
        padding: 0;
        margin: 0; 
        max-width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.left {
    max-width: 50%;
    float: left;
    align-items: flex-start;
    justify-content: left;
}

.right {
  
    float: right;
    align-items: flex-end;
    justify-content: right;
    max-width: 50%;
}


 img {
    width: 100%;
    max-width: 500px;
    height: auto;
 }


.footer {
    background-color: rgb(219, 150, 162);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 10px;

   
}

.footer img {
    max-height: 30px;
    width: auto;
}

.foot {
    max-height: 30px;
    width: auto;
}

p {
    text-align: justify;
}


h3 {
    text-align: center;
}


 @media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
       
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
        flex-direction: column;
       
    }

    .left {
        max-width: 100%;
        float: left;
        align-items: flex-start;
        justify-content: left;
        padding: 5%;
    }
    
    .right {
      
        float: right;
        align-items: flex-end;
        justify-content: right;
        max-width: 100%;
        padding: 5%;
    }
    


}
